body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.cards1,
.cards2,
.cards3,
.cards4{
    display: flex;
    gap: 10px;
    margin: 10% 10%;
}
    
.cards1 .flipCard1,
.cards1 .flipCard2,
.cards1 .flipCard3,
.cards1 .flipCard4,
.cards3 .flipCard9,
.cards3 .flipCard10,
.cards4 .flipCard13,
.cards4 .flipCard14{
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
}

.cards1 .flipCard1 .flipCardInner,
.cards1 .flipCard2 .flipCardInner,
.cards1 .flipCard3 .flipCardInner,
.cards1 .flipCard4 .flipCardInner,
.cards3 .flipCard9 .flipCardInner,
.cards3 .flipCard10 .flipCardInner,
.cards4 .flipCard13 .flipCardInner,
.cards4 .flipCard14 .flipCardInner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}

input{
    display: none;
}

#click1:checked ~ .flipCard1 .flipCardInner,
#click2:checked ~ .flipCard2 .flipCardInner,
#click3:checked ~ .flipCard3 .flipCardInner,
#click4:checked ~ .flipCard4 .flipCardInner{
    transform: rotateY(180deg);
}

.cards1 .flipCard1 .flipCardFront,
.cards1 .flipCard1 .flipCardBack,
.cards1 .flipCard2 .flipCardFront,
.cards1 .flipCard2 .flipCardBack,
.cards1 .flipCard3 .flipCardFront,
.cards1 .flipCard3 .flipCardBack,
.cards1 .flipCard4 .flipCardFront,
.cards1 .flipCard4 .flipCardBack,
.cards3 .flipCard9 .flipCardFront,
.cards3 .flipCard9 .flipCardBack,
.cards3 .flipCard10 .flipCardFront,
.cards3 .flipCard10 .flipCardBack,
.cards4 .flipCard13 .flipCardFront,
.cards4 .flipCard13 .flipCardBack,
.cards4 .flipCard14 .flipCardFront,
.cards4 .flipCard14 .flipCardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cards1 .flipCard1 .flipCardFront,
.cards1 .flipCard2 .flipCardFront,
.cards1 .flipCard3 .flipCardFront,
.cards1 .flipCard4 .flipCardFront,
.cards3 .flipCard9 .flipCardFront,
.cards3 .flipCard10 .flipCardFront,
.cards4 .flipCard13 .flipCardFront,
.cards4 .flipCard14 .flipCardFront{
    background-color: #bbb;
    color: black;
}

.cards1 .flipCard1 .flipCardFront img,
.cards1 .flipCard2 .flipCardFront img,
.cards1 .flipCard3 .flipCardFront img,
.cards1 .flipCard4 .flipCardFront img,
.cards3 .flipCard9 .flipCardFront img,
.cards3 .flipCard10 .flipCardFront img,
.cards4 .flipCard13 .flipCardFront img,
.cards4 .flipCard14 .flipCardFront img{
    width: 100%;
    height: 100%;
}

.cards1 .flipCard1 .flipCardBack,
.cards1 .flipCard2 .flipCardBack,
.cards1 .flipCard3 .flipCardBack,
.cards1 .flipCard4 .flipCardBack,
.cards3 .flipCard9 .flipCardBack,
.cards3 .flipCard10 .flipCardBack,
.cards4 .flipCard13 .flipCardBack,
.cards4 .flipCard14 .flipCardBack{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

.cards1 .flipCard1 .flipCardBack img,
.cards1 .flipCard2 .flipCardBack img,
.cards1 .flipCard3 .flipCardBack img,
.cards1 .flipCard4 .flipCardBack img,
.cards3 .flipCard9 .flipCardBack img,
.cards3 .flipCard10 .flipCardBack img,
.cards4 .flipCard13 .flipCardBack img,
.cards4 .flipCard14 .flipCardBack img{
    width: 100%;
    height: 100%;
}