body{
    font-family: Arial, Helvetica, sans-serif;
}

.cards{
    display: flex;
    gap: 5px;
}

.cards .flipCard1,
.cards .flipCard2{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.cards .flipCard1 .flipCardInner,
.cards .flipCard2 .flipCardInner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform-style: preserve-3d;
    cursor: pointer;
}

input{
    display: none;
}

#click1:checked ~ .flipCard1 .flipCardInner{
    transform: rotateY(180deg);
}

#click2:checked ~ .flipCard2 .flipCardInner{
    transform: rotateY(180deg);
}

.cards .flipCard1 .flipCardFront,
.cards .flipCard1 .flipCardBack,
.cards .flipCard2 .flipCardFront,
.cards .flipCard2 .flipCardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.cards .flipCard1 .flipCardFront,
.cards .flipCard2 .flipCardFront{
    background-color: #bbb;
    color: black;
}

.cards .flipCard1 .flipCardFront img,
.cards .flipCard2 .flipCardFront img{
    width: 100%;
    height: 100%;
}

.cards .flipCard1 .flipCardBack,
.cards .flipCard2 .flipCardBack{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

